<% layout("layouts/boilerplate") -%>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <h2>Edit your Listings </h2>
        <br>
        <form action="/listings/<%=list.id%>?_method=put" method="post" class="needs-validation" novalidate>
            
            <div class="mb">
                <label for="title">Title</label>
                <input type="text" name="title" class="form-control" value="<%=list.title%>" required>
                    <div class="invalid-feedback">
                        title should not be empty
                    </div>
            </div>
            <div class="mb-3">
                <label for="description">Description</label>   
                <textarea  name="description" id="description" class="form-control" required><%=list.description%></textarea >
                <div class="invalid-feedback">
                    description should not be empty
                </div>
            </div>
            <div class="mb-3">
                <label for="image">Image URL</label>
                <input type="text" name="image" id="image" class="form-control" value="<%=list.image%>" required>
                <div class="invalid-feedback">
                    image should not be empty
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price">Price</label>
                    <input type="number" name="price" id="price" class="form-control" value="<%=list.price%>" required>
                    <div class="invalid-feedback">
                        price should not be empty
                </div>
                <div class="mb-3 col-md-8">
                    <label for="country">Country</label>
                    <input type="text" name="country" id="country" class="form-control" value="<%=list.country%>" required>    
                    <div class="invalid-feedback">
                        country should not be empty
                </div>
            <div class="mb-3">
                <label for="location">Location:</label> 
                <input type="text" name="location" id="location" value="<%=list.location%>" required class="form-control">
                <div class="invalid-feedback">
                    location should not be empty
                </div>
            <br>
            <br>
            <button class="btn btn-dark Update-btn">Update Listing</button>     
        </form>
    </div>
</div>
