<% layout("layouts/boilerplate") -%>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <h2>Edit your Listings</h2>
        <br>
        <form action="/listings/<%=list.id%>?_method=put" method="post" class="needs-validation" enctype="multipart/form-data" novalidate>

            <div class="mb-3">
                <label for="title">Title</label>
                <input type="text" name="title" class="form-control" value="<%=list.title%>" required>
                <div class="invalid-feedback">
                    title should not be empty
                </div>
            </div>

            <div class="mb-3">
                <label for="description">Description</label>
                <textarea name="description" id="description" class="form-control" required><%=list.description%></textarea>
                <div class="invalid-feedback">
                    description should not be empty
                </div>
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">upload new image</label>
               <input type="file" name="image" class="form-control">
            </div>


            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price">Price</label>
                    <input type="number" name="price" id="price" class="form-control" value="<%=list.price%>" required>
                    <div class="invalid-feedback">
                        price should not be empty
                    </div>
                </div>

                <div class="mb-3 col-md-8">
                    <label for="country">Country</label>
                    <input type="text" name="country" id="country" class="form-control" value="<%=list.country%>" required>
                    <div class="invalid-feedback">
                        country should not be empty
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="location">Location:</label>
                <input type="text" name="location" id="location" value="<%=list.location%>" required class="form-control">
                <div class="invalid-feedback">
                    location should not be empty
                </div>
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">Category</label>
                <select name="category" class="form-control" required>
                    <option value="Trending" <%= list.category === 'Trending' ? 'selected' : '' %>>Trending</option>
                    <option value="Rooms" <%= list.category === 'Rooms' ? 'selected' : '' %>>Rooms</option>
                    <option value="Hills" <%= list.category === 'Hills' ? 'selected' : '' %>>Hills</option>
                    <option value="Premium" <%= list.category === 'Premium' ? 'selected' : '' %>>Premium</option>
                    <option value="Iconic cities" <%= list.category === 'Iconic cities' ? 'selected' : '' %>>Iconic cities</option>
                    <option value="Arctic" <%= list.category === 'Arctic' ? 'selected' : '' %>>Arctic</option>
                    <option value="Camping" <%= list.category === 'Camping' ? 'selected' : '' %>>Camping</option>
                    <option value="Farms" <%= list.category === 'Farms' ? 'selected' : '' %>>Farms</option>
                    <option value="Ships" <%= list.category === 'Ships' ? 'selected' : '' %>>Ships</option>
                    <option value="Religious" <%= list.category === 'Religious' ? 'selected' : '' %>>Religious</option>
                </select>
                <div class="invalid-feedback">Please select a category</div>
            </div>


            <button class="btn btn-dark Update-btn">Update Listing</button>
        </form>
    </div>
</div>